{% extends "base.html" %}
{% block navbar %}
	{% include "admin/navbar.html" %}
{% endblock %}
{% block content %}
	<div class="row content-block">
		<div class="col-md-12 category-hdr">
			<h4><i class="fa fa-cogs"></i> {% if guide %}{{ guide.title }}{% else %}New guide{% endif %}</h4>
		</div>
		<div class="row content-well">
			<form class="form-horizontal" role="form" method="POST" action="{{ path('admin_save_guide') }}">
			  <div class="form-group">
				<label for="title" class="col-sm-2 control-label">Title</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" name="title" value="{% if guide %}{{ guide.title }}{% endif %}"/>
				</div>
			  </div>
			  <div class="form-group">
			  	<label for="image" class="col-sm-2 control-label">Image</label>
			  	<div class="col-sm-10">
			  		<span class="form-control btn btn-default btn-file">
					    Browse <input type="file" name="file">
					</span>
			  		<input type="hidden" name="image" value="{% if guide %}{{ guide.image}}{% endif %}" />
			  		<a href="{{imagePath(guide.image)}}" target="_new" img-thumbnail>
			  			<img src="{% if guide %}{{ imagePath(guide.image) }}{% endif %}" style="max-height: 30px;" />
			  		</a>
			  	</div>
			  </div>
			  <div class="form-group">
				<label for="summary" class="col-sm-2 control-label">Summary</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" name="summary" value="{% if guide %}{{ guide.summary }}{% endif %}" />
				</div>
			  </div>
				<div class="form-group">
					<label for="summary" class="col-sm-2 control-label">Author</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="author" value="{% if guide %}{{ guide.author }}{% else %}{{ app.session.user.username }}{% endif %}" />
					</div>
				</div>
			  <div class="form-group">
				<label for="content" class="col-sm-2 control-label">Content</label>
				<div class="col-sm-10">
				  <!-- the actual content -->
				  <textarea name="content" style="display: none"></textarea>
				  <!-- the redactor editor -->
				  <textarea class="form-control" id="redactor">{% if guide %}{{ guide.markdown }}{% endif %}</textarea>
				</div>
			  </div>
			  {% for category in categories %}
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="category_{{ category.id }}"{% if category.in %} checked="checked"{% endif %}> {{ category.name }}
							</label>
						</div>
					</div>
				</div>
			  {% endfor %}
			  <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				  {% if guide %}
				    <input type="hidden" value="{{ guide.id }}" name="guideid" />
			      {% endif %}
				  <button type="submit" class="btn btn-default">Save</button>
				</div>
			  </div>
			</form>
		</div>
	</div>

	<div id="imageuploader" style="display: none;">
	    <section>
	  		<span class="btn btn-default btn-file uploadbtn">
			    Browse <input type="file" name="inline-file">
			</span>
	  		<input type="hidden" name="imagepath" />
	  		<a href="" target="_new" thumbnail>
	  			<img src="" style="max-height: 80px;" />
	  		</a>
	    </section>
	    <footer>
	        <button class="redactor_modal_btn redactor_modal_action_btn" id="imageuploader-insert">Insert</button>
	        <button class="redactor_modal_btn redactor_btn_modal_close">Close</button>
	    </footer>
	</div>
{% endblock %}
{% block customcss %}
<link rel="stylesheet" href="http://imperavi.com/js/redactor/redactor.css" />
{% endblock %}
{% block customjs %}
	<script src="http://imperavi.com/js/redactor/redactor.js"></script>
	<script src="/assets/js/vendor/marked.js"></script>
	<script src="/assets/js/vendor/remarked.js"></script>
	<script src="/assets/js/admin.js"></script>
{% endblock %}