{% extends "base.html" %}
{% block navbar %}
	{% include "admin/navbar.html" %}
{% endblock %}
{% block content %}
	<div class="row content-block">
		<div class="col-md-12 category-hdr">
			<h4>Editing Homepage</h4>
		</div>
		<div class="row content-well">
			<form class="form-horizontal" role="form" method="POST" action="{{ path('admin_save_homepage') }}">
			  <strong>Blocks</strong>
			  {% for block in homepage.getBlocks() %}
			  	<div class="block">
					<div class="form-group">
						<label for="blocks[{{ loop.index0 }}][layout]" class="col-sm-2 control-label">Layout</label>
						<div class="col-sm-10">
						  <select class="form-control" name="blocks[{{ loop.index0 }}][layout]">
						  	<option value="jumbotron" {{ block.layout == 'jumbotron' ? 'selected="selected"' : '' }} data-guides="1">
						  		Top Jumbotron
						  	</option>
						  	<option value="2-across" {{ block.layout == '2-across' ? 'selected="selected"' : '' }} data-guides="2">
						  		Desktop 2 Across
						  	</option>
						  	<option value="2-across-video" {{ block.layout == '2-across-video' ? 'selected="selected"' : '' }} data-guides="2">
						  		Desktop 2 Across Video
						  	</option>
						  	<option value="3-across" {{ block.layout == '3-across' ? 'selected="selected"' : '' }} data-guides="3">
						  		Desktop 3 Across
						  	</option>
						  	<option value="3-across-video" {{ block.layout == '3-across-video' ? 'selected="selected"' : '' }} data-guides="4">
						  		Desktop 3 Across Video
						  	</option>
						  	<option value="small-text" {{ block.layout == 'small-text' ? 'selected="selected"' : '' }} data-guides="2">
						  		Single Promo + Text tout
						  	</option>
						  </select>
						</div>
					</div>
					<div class="guiderows" data-guides="{{ block.guideids }}" data-row-id="{{ loop.index0 }}"></div>
					<button class="btn btn-default pull-right" style="margin-bottom: 5px;" data-remove-block>Remove Block</button>
					<hr style="clear: both" />
				</div>
			  {% endfor %}

			  <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				  {% if homepage %}
				    <input type="hidden" value="{{ homepage.id }}" name="homepageid" />
			      {% endif %}
				  <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>

				  <button class="btn btn-default" data-add-block>Add Block</button>
				</div>
			  </div>
			</form>
		</div>
	</div>

	<script id="blockTemplate" type="text/template">
	<div class="block">
		<div class="form-group">
			<label for="blocks[0][layout]" class="col-sm-2 control-label">Layout</label>
			<div class="col-sm-10">
			  <select class="form-control" name="blocks[0][layout]">
			  	<option value="jumbotron" data-guides="1">
			  		Top Jumbotron
			  	</option>
			  	<option value="2-across" data-guides="2">
			  		Desktop 2 Across
			  	</option>
			  	<option value="2-across-video" data-guides="2">
			  		Desktop 2 Across Video
			  	</option>
			  	<option value="3-across" data-guides="3">
			  		Desktop 3 Across
			  	</option>
			  	<option value="small-text" data-guides="2">
			  		Single Promo + Text tout
			  	</option>
			  </select>
			</div>
		</div>
		<div class="guiderows">
		</div>
		<hr />
	</div>
	</script>
	<script id="guideSelector" type="text/template">
		<div class="form-group">
			<label for="blocks[0][guides][]" class="col-sm-2 control-label">Guide</label>
			<div class="col-sm-10">
				<select class="form-control" name="blocks[0][guides][]">
					{% for guide in guides %}
						<option value="{{ guide.id }}">{{ guide.title }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</script>
{% endblock %}
{% block customjs %}
	<script src="{{ cdn_asset('/assets/js/homepage-editor.js') }}"></script>
{% endblock %}