{% extends "base.html" %}
{% block navbar %}
	{% include "admin/navbar.html" %}
{% endblock %}
{% block content %}
<div class="row content-block">
	<div class="col-md-12 category-hdr">
		<h4><i class="fa fa-cogs"></i> {% if series %}<a href="{{ path('series_guide_list', { 'title': series.url }) }}" target="_blank">{{ series.title }}</a>{% else %}New series{% endif %}</h4>
	</div>

	{% for flash in app.session.flashbag.get('series_message') %}
	<div class="alert alert-success">{{ flash }}</div>
	{% endfor %}

	<div class="row content-well">
		<form class="form-horizontal" role="form" method="POST" action="{{ path('admin_save_series') }}">
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">Title *</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="title" value="{% if series %}{{ series.title }}{% endif %}" required />
				</div>
			</div>
			<div class="form-group">
				<label for="image" class="col-sm-2 control-label">Image *</label>
				<div class="col-sm-10">
			  		<span class="form-control btn btn-default btn-file">
					    Browse <input type="file" name="file[]">
					</span>
					<input type="hidden" name="images[]" value="{% if series %}{{ series.image }}{% endif %}" />
					<a href="{{imagePath(series.image)}}" target="_new" img-thumbnail>
						<img src="{% if series %}{{ imagePath(series.image) }}{% endif %}" style="max-height: 30px;" />
					</a>
				</div>
			</div>
			<div class="form-group">
				<label for="banner" class="col-sm-2 control-label">Banner *</label>
				<div class="col-sm-10">
					<span class="form-control btn btn-default btn-file">
						Browse <input type="file" name="file[]" />
					</span>
					<input type="hidden" name="images[]" value="{% if series %}{{ series.banner }}{% endif %}" />
					<a href="{{ imagePath(series.banner) }}" target="_new" img-thumbnail>
						<img src="{% if series %}{{ imagePath(series.banner) }}{% endif %}" style="max-height: 30px;" />
					</a>
				</div>
			</div>
			<div class="form-group">
				<label for="summary" class="col-sm-2 control-label">Summary *</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="summary" value="{% if series %}{{ series.summary }}{% endif %}" required />
				</div>
			</div>
			<div id="guides">
				{% if guides %}
					{% for guide in guides %}
						<div class="form-group">
							<label for="summary" class="col-sm-2 control-label">Guide {{ loop.index }}</label>
							<div class="col-sm-10">
								<select class="form-control" name="guides[]">
									<option value="0">-- No guide --</option>
									{% for g in allGuides %}
										<option value="{{ g.id }}"{% if guide.id == g.id %}selected="selected"{% endif %}>{{ g.title }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					{% if series %}
					<input type="hidden" value="{{ series.id }}" name="seriesid" />
					{% endif %}
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>

					<button class="btn btn-default" data-add-guide>Add Guide</button>
				</div>
			</div>
		</form>
	</div>
</div>

<script id="guideTemplate" type="text/template">
	<div class="form-group">
		<label for="summary" class="col-sm-2 control-label">Guide</label>
		<div class="col-sm-10">
			<select class="form-control" name="guides[]">
				<option value="0">-- No guide --</option>
				{% for g in allGuides %}
					<option value="{{ g.id }}"}>{{ g.title }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</script>
{% endblock %}
{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{{ cdn_asset('/assets/js/vendor/markitup/markitup/skins/markitup/style.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ cdn_asset('/assets/js/vendor/markitup/markitup/sets/markdown/style.css') }}" />
{% endblock %}
{% block customjs %}
	<script type="text/javascript" src="{{ cdn_asset('/assets/js/vendor/markitup/markitup/jquery.markitup.js') }}"></script>
	<script type="text/javascript" src="{{ cdn_asset('/assets/js/vendor/markitup/markitup/sets/markdown/set.js') }}"></script>

	<script src="{{ cdn_asset('/assets/js/admin.js') }}"></script>

	<script src="{{ cdn_asset('/assets/js/series-editor.js') }}"></script>
{% endblock %}