<div id="myModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Upload Image</h4>
			</div>
			<div class="modal-body">
	        <span class="form-control btn btn-default btn-file">
			    Browse <input type="file" name="file">
			    <input type="hidden" value="" name="image" />
			</span>
				<a href="" target="_new" img-thumbnail>
					<img src="" style="max-height: 30px;" />
				</a>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Use</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->