{% extends "base.html" %}
{% block navbar %}
	{% include "admin/navbar.html" %}
{% endblock %}
{% block content %}
	<div class="row content-block">
		<div class="row">
			<div class="col-xs-6 category-hdr">
				<h4><i class="fa fa-cogs"></i> All Guides</h4>
			</div>
			<div class="col-xs-6 category-hdr">
				<a href="{{ path('admin_new_guide') }}">Add guide</a>
			</div>
		</div>

		{% for flash in app.session.flashbag.get('homepage_message') %}
			<div class="alert alert-success">{{ flash }}</div>
		{% endfor %}

		{% for guide in guides %}
			<div class="col-md-4 col-sm-6">
				<a href="{{ path('admin_edit_guide', { 'title': guide.url }) }}">
					<div class="content-item" style="background-image: url({{ imagePath(guide.image) }})">
						<div class="content-container">
							<h4>{{ guide.title }}</h4>
							<p>{{ guide.summary }}</p>
						</div>
					</div>
					<div class="bottom-info">
						<span class="author">{{ guide.author }}</span>
						<span class="divider"> | </span>
						<span class="date">{{ guide.date|date("F jS, Y") }}</span>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}