{% extends "base.html" %}
{% block navbar %}
	{% include "admin/navbar.html" %}
{% endblock %}
{% block content %}
	<div class="row content-block">
		<div class="col-md-12 category-hdr">
			<h4><i class="fa fa-cogs"></i> All Guides</h4>
		</div>

		{% for flash in app.session.flashbag.get('guide_message') %}
			{{ flash }}
		{% endfor %}

		{% for guide in guides %}
			<div class="col-md-4 col-sm-6">
				<a href="{{ path('admin_edit_guide', { 'title': guide.url }) }}">
					<div class="content-item">
						<div class="content-container">
							<h4>{{ guide.title }}</h4>
							<p>fdgfds</p>
						</div>
					</div>
					<div class="bottom-info">
						<span class="author">koen</span>
						<span class="divider"> | </span>
						<span class="date">November 29th, 1973</span>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}