{% if allSeries %}
	<div class="row content-well">
		<div class="col-md-6 series-list">
			<strong>Part of the series</strong>
			<ul>
			{% for s in allSeries %}
				<li><a href="{{ path('series_guide_list', { 'title': s.url }) }}">{{ s.title }}</a></li>
			{% endfor %}
			</ul>
		</div>

		{% if series %}
			{% set nextGuide = getNextInSeries(series, guide) %}
			{% if nextGuide %}
					<div class="col-md-6 next-promo">
						<a href="{{ path('series_guide', { 'title': series.url, 'guideTitle': nextGuide.url }) }}">
							<i class="fa fa-arrow-right fa-lg pull-right"></i>
							<div class="pull-right">
								<strong>Next in {{ series.title }}</strong>
								<span>{{ nextGuide.title }}</span>
							</div>
						</a>
					</div>
			{% endif %}
		{% endif %}
	</div>
{% endif %}