{% extends "base.html" %}
{% block content %}
	<div class="row content-well content-block about-page">
        <div class="col-md-12 category-hdr">
            <h4><i class="fa fa-{{ categoryIcon('about') }}"></i> About</h4>
        </div>

        <p>Welcome to Scrolls Academy, the site built by the players, for the players.</p>

        <img src="{{ cdn_asset('/assets/images/scrolls-logo.png') }}" class="pull-right" style="max-width: 45%" />

		<p>Whether you are a seasoned veteran of Collectible Card Games (CCGs), a current player of Scrolls who wishes to learn more, or in the delightful position of being new to both Scrolls and CCGs, this site will answer all your questions.</p>

		<p>The videos, articles, and reference pieces have all been created by the players of Scrolls so that, once you have completed the in-game tutorials, you will have a guide on how to reach the giddy heights of ranked play, be skillful in your deck building, and enjoy all aspects of this amazing game. Who knows, in time, future players could be reading your insightful thoughts on the game.</p>

		<p>Until then, have fun and good luck!</p>

		<p>Contribute? Check us out on <a href="https://github.com/Scrollsguide/ScrollsAcademy">Github!</a></p>

		<strong>~The Scrolls Academy Team</strong>

    </div>
{% endblock %}