<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- vendor css -->
		<link rel="stylesheet" type="text/css" href="/assets/cache/css/vendors.css" />

        {% block customcss %}
        {% endblock %}

        <!-- custom css -->
		<link rel="stylesheet" type="text/css" href="/assets/cache/css/main.css" />

        <script src="/assets/js/vendor/modernizr.js"></script>

    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container-fluid">
            <!-- Fixed navbar -->
			{% block navbar %}
				<div class="navbar navbar-default navbar-fixed-top" role="navigation">
				  <div class="container-fluid">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					  <a class="navbar-brand" href="{{ path('index') }}" data-instant>
                        <img src="/assets/images/logo.png" />Scrolls Academy
                      </a>
					</div>
					<div class="navbar-collapse collapse">
					  <ul class="nav navbar-nav">
						<li><a href="{{ path('categories', { 'categoryType': 'beginner' }) }}" data-instant>Beginner</a></li>
						<li><a href="{{ path('categories', { 'categoryType': 'intermediate' }) }}" data-instant>Intermediate</a></li>
						<li><a href="{{ path('categories', { 'categoryType': 'master' }) }}" data-instant>Master</a></li>
					  </ul>
					  <ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{ path('about') }}" data-instant><i class="fa fa-{{ categoryIcon('about') }}"></i> Scrolls Academy</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">External</li>
								<li><a href="http://www.scrollsguide.com/forum" target="_blank"><i class="fa fa-{{ categoryIcon('forum') }}"></i> Forum</a></li>
								<li><a href="http://www.scrollsguide.com/wiki/index.php/Main_Page" target="_blank"><i class="fa fa-{{ categoryIcon('wiki') }}"></i> Wiki</a></li>
							</ul>
						</li>
						<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
						  <ul class="dropdown-menu">
							<li><a href="{{ path('view_series') }}" data-instant><i class="fa fa-{{ categoryIcon('series') }}"></i> Series</a></li>
							<li><a href="{{ path('categories', { 'categoryType': 'video' }) }}" data-instant><i class="fa fa-{{ categoryIcon('video') }}"></i> Video</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Complexity</li>
							<li><a href="{{ path('levels', { 'level': 'beginner' }) }}" data-instant><i class="fa fa-{{ categoryIcon('beginner') }}"></i> Beginner</a></li>
							<li><a href="{{ path('levels', { 'level': 'intermediate' }) }}" data-instant><i class="fa fa-{{ categoryIcon('intermediate') }}"></i> Intermediate</a></li>
							<li><a href="{{ path('levels', { 'level': 'master' }) }}" data-instant><i class="fa fa-{{ categoryIcon('master') }}"></i> Master</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Topic</li>
							<li><a href="{{ path('categories', { 'categoryType': 'decks' }) }}" data-instant><i class="fa fa-{{ categoryIcon('decks') }}"></i> Decks</a></li>
							<li><a href="{{ path('categories', { 'categoryType': 'strategy' }) }}" data-instant><i class="fa fa-{{ categoryIcon('strategy') }}"></i> Strategy</a></li>
							<li><a href="{{ path('categories', { 'categoryType': 'judgement' }) }}" data-instant><i class="fa fa-{{ categoryIcon('judgement') }}"></i> Judgement</a></li>
							<li><a href="{{ path('categories', { 'categoryType': 'ui' }) }}" data-instant><i class="fa fa-{{ categoryIcon('ui') }}"></i> UI</a></li>
						  </ul>
						</li>
					  </ul>
					</div><!--/.nav-collapse -->
				  </div>
				</div>
			{% endblock %}

            {% block content %}
		
			{% endblock %}


            <div class="footer">
                <div class="row">
                    <hr />
				    <div class="col-xs-6">
                      <p>&copy; Scrolls Academy 2014</p>
				    </div>
					<div class="col-xs-6">
					    <p class="text-right">
							<iframe src="/assets/html/github-btn.html?user=Scrollsguide&repo=ScrollsAcademy&type=watch&count=true"
										allowtransparency="true" frameborder="0" scrolling="0" width="78" height="20"></iframe></p>
					</div>
                </div>
            </div>

        </div>

		<script>
			var _gaq=[['_setAccount','UA-16433114-4'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
				g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
				s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>

		<script src="/assets/cache/js/vendors.js" data-no-instant></script>

        <script src="/assets/js/main.js"></script>
		<!--
		<script src="/assets/js/vendor/instantclick.min.js"></script>
		<script data-no-instant>
			InstantClick.on('change', function(){
				ga('send', 'pageview');
                //fix social buttons and any other weird responsive glitches caused by
                //instaclick ajaxing stuff and not trigging a full domready cycle
                $(window).resize();
			});
		
			InstantClick.init('mousedown', true);
		</script>
		-->

        {% block customjs %}

        {% endblock %}
</body>
</html>