{% extends "base.html" %}
{% block content %}
	<div class="row guide-header" style="background-image:url({{ imagePath(guide.image) }})">
        <div class="col-md-12">
            <h2>{{ guide.getTitle() }}</h2>    
        </div>
    </div>
    <div class="row content-well">
        <div class="byline">
            <img src="{{ imagePath('user-imgs/sysp.png') }}" />
            <span class="author">{{ guide.author }}</span>
            <span class="divider"> | </span>
            <span class="date">{{ guide.date | date("F jS, Y") }}</span>
        </div>
    </div>
    <div class="row content-well primary-content">
    	{{ guide.getContent() | raw }}
    </div>

    {% include 'partials/social.html' with { 'guide': guide } %}

    <!-- type 2, three articles -->
    {% if relatedGuides|length %}
    <div class="row content-block more-block">
        <div class="col-md-12">
            <h4>Related Guides</h4>
        </div>
			{% for guide in relatedGuides %}
				{% include 'partials/touts/single-item.html' with { 'guide': guide } %}
		    {% endfor %}
	    </div>
	{% endif %}
{% endblock %}

