{% extends "base.html" %}
{% block content %}
	<!-- Type 1, full width -->
	<!--placeholder, TODO REMOVE-->
    <a href="/guide.html" class="content-block">
        <div class="jumbotron" style="background-image: url(/assets/images/order.jpg)">
            <div class="type-tag tier3"><i class="fa fa-puzzle-piece"></i> Strategy</div>
            <div class="content-container">
                <h4>Combating the Meta</h4>
                <p>Blinky breaks down the current ladder metagame with a spotlight on mono-growth.</p>
            </div>
        </div>
    </a>
	{% set desc = "fdagfdsgfdsgfdsgf dsgfds gfdsgfds" %}
	
	{{ desc|cut(10) }}

	
	{{ path("categories", { categoryType: "beginner" }) }}
	
	get route:
	{{ currentRoute().getId }}
{% endblock %}