{% extends "base.html" %}
{% block content %}
<div class="row content-block">
	<div class="col-md-12 category-hdr">
		<h4><i class="fa fa-cogs"></i> {% if guide %}<a href="{{ path('view_guide', { 'title': guide.url }) }}" target="_blank">{{ guide.title }}</a>{% else %}New guide{% endif %}</h4>
	</div>

	{% for flash in app.session.flashbag.get('guide_message') %}
		<div class="alert alert-success">{{ flash }}</div>
	{% endfor %}

	<div class="row content-well">
		<form class="form-horizontal" role="form" method="POST" action="{{ path('save_guide') }}">
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">Title *</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="title" value="{% if guide %}{{ guide.title }}{% endif %}" required />
				</div>
			</div>
			<div class="form-group">
				<label for="summary" class="col-sm-2 control-label">Summary *</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="summary" value="{% if guide %}{{ guide.summary }}{% endif %}" required />
				</div>
			</div>
			<div class="form-group">
				<label for="summary" class="col-sm-2 control-label">Author *</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="author" value="{% if guide %}{{ guide.author }}{% else %}{{ app.session.user.username }}{% endif %}" disabled="disabled" required />
				</div>
			</div>
			<div class="form-group">
				<label for="content" class="col-sm-2 control-label">Content *</label>
				<div class="col-sm-10">
					<!-- the redactor editor -->
					<textarea class="form-control" id="markdown" name="content" rows="20" required>{% if guide %}{{ guide.markdown }}{% endif %}</textarea>
				</div>
			</div>

			{% for category in categories %}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="category_{{ category.id }}"{% if category.in %} checked="checked"{% endif %}> {{ category.name }}
						</label>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<small>Please save your work externally before hitting the Save button to prevent loss of your data.</small><br />
					{% if guide %}
					<input type="hidden" value="{{ guide.id }}" name="guideid" />
					{% endif %}
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% include 'admin/filedialog.html' %}

{% endblock %}
{% block customcss %}
<link rel="stylesheet" type="text/css" href="{{ cdn_asset('/assets/js/vendor/markitup/markitup/skins/markitup/style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ cdn_asset('/assets/js/vendor/markitup/markitup/sets/markdown/style.css') }}" />
{% endblock %}
{% block customjs %}
<script type="text/javascript" src="{{ cdn_asset('/assets/js/vendor/markitup/markitup/jquery.markitup.js') }}"></script>
<script type="text/javascript" src="{{ cdn_asset('/assets/js/vendor/markitup/markitup/sets/markdown/set.js') }}"></script>

<script type="text/javascript" src="{{ cdn_asset('/assets/js/guide-editor.js') }}"></script>
{% endblock %}