{% extends "base.html" %}
{% block content %}
<div class="row content-well content-block">
	<div class="col-md-12 category-hdr">
		<h4><i class="fa fa-{{ categoryIcon('submit') }}"></i> Content submission guide</h4>
	</div>

	<p>As Scrolls Academy is a community site, we’d like you to submit articles, guides, and other content that you think will aid the other players of Scrolls. With this in mind, we’ve come up with the following submission guidelines to help you cover all aspects of your chosen subject and display them in the best possible way.</p>
	<p>Deck Guides - (include a deck list and a mana curve image from http://scrolldier.com/deck.php, and a url from http://www.scrollsguide.com/deckbuilder/)</p>
	<p>Introduction (i.e. deck type)</p>
	<p>Mulligan choices</p>
	<p>Deck Explanation (including combos)</p>
	<p>General Strategy (early/mid/late game)</p>
	<p>Good/Bad Matchups (i.e. deck’s it’s good/bad against)</p>
	<p>Weaknesses</p>
	<p>Budget replacements</p>
	<p>Summary</p>
	<p>--</p>
	<p>Video Guides - (video will be embedded in the header of the article)</p>
	<p>Video Topic</p>
	<p>Participants</p>
	<p>Deck links (from http://www.scrollsguide.com/deckbuilder/ and http://scrolldier.com/deck.php)</p>
	<p>Game Replay URL (from http://www.scrollsguide.com/replays/ using the relevant mod)</p>
	<p>Event time index<br />
		e.g.
		<ul>
			<li>0:00:00 - Intro to Zarc</li>
			<li>0:00:30 - Ladder Climb from mid-1500s to Top 10</li>
			<li>0:01:25 - Avoiding Tilt</li>
			<li>0:02:30 - Tempo Order build</li>
			<li>0:07:00 - Tempo Order mindset</li>
			<li>0:07:21 - Match -- DavidSlain</li>
			<li>0:43:40 - Match -- Summary</li>
			<li>0:52:40 - Playing the ladder</li>
			<li>0:56:39 - Wrap-up</li>
		</ul>
	</p>
	<p>Topic Summary</p>
	<p>--</p>
	<p>Please note: All submissions will be discussed via a thread on www.scrollsguide.com so please try to repond to questions and comments where possible. If you wish to edit the article then simply notify SeeMeScrollin, Blinky, Zylus, or Spiffydrew of what changes you’d like to make.</p>

	<strong>~The Scrolls Academy Team</strong>

</div>
{% endblock %}