<div class="col-md-{{ collapseMedium ?: 12 }} col-sm-{{ collapseClass ?: 12 }} series-item">
    <div class="content-item" style="background-image: url({{ imagePath(series.image) }})">
        <a href="{{ path('series_guide_list', { 'title': series.getUrl() }) }}" data-instant>
            <div class="content-container">
                <h4>{{ series.getTitle() }}</h4>
                <p>{{ series.getSummary() }}</p>
            </div>
        </a>
        <ol>
            {% for guide in series.guides %}
            <li>
                <a href="{{ path('series_guide', { 'title': series.url, 'guideTitle': guide.url }) }}">{{ guide.title }}</a>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>