{% if series %}
	{% set url = path('series_guide', { 'title': series.url, 'guideTitle': guide.url }) %}
{% else %}
	{% set url = path('view_guide', { 'title': guide.url }) %}
{% endif %}
<div class="col-md-{{ collapseMedium ?: 9 }} col-sm-{{ collapseClass ?: 12 }} text-tout full-item-text">
    
    <div class="content-item">
    
    	<div class="col-md-6">
		    <a href="{{ url }}" data-instant>
		    	<img class="full-img" src="{{ imagePath(guide.image) }}" class="pull-left" />
		     </a>
	    </div>

	    <div class="col-md-6">
        	<div class="col-lg-12" style="padding: 0px;">
	        	<a href="{{ url }}" data-instant>
	            	<h4>{{ guide.title }}</h4>
	             </a>
             </div>
             
             <div id="col-lg-12">
            	<p>{{ guide.synopsis }}</p>
            	<div class="fade-out"></div>
            </div>
	    </div>
    </div>
    
    <a href="{{ url }}" data-instant>
   		<div class="continue-btn">Continue Reading <i class="fa fa-arrow-right"></i></div>
   	</a>
</div>