{% if series %}
	{% set url = path('series_guide', { 'title': series.url, 'guideTitle': guide.url }) %}
{% else %}
	{% set url = path('view_guide', { 'title': guide.url }) %}
{% endif %}
<div class="col-md-{{ collapseMedium ?: 9 }} col-sm-{{ collapseClass ?: 12 }} text-tout full-small-item-text">
    
    <div class="content-item">
        <div>
        	 <div style="height: 225px;">
	        	<a href="{{ url }}" data-instant>
	        		<div class="img-container">
	            		<img src="{{ imagePath(guide.image) }}" />
	            	</div>
	             </a>
             </div>
             
            <div>
            	<a href="{{ url }}" data-instant>
            		<h4>{{ guide.title }}</h4>
            	</a>
            	<p>{{ guide.synopsis }}</p>
            	<div class="fade-out"></div>
            </div>
            
            <a href="{{ url }}" data-instant>
            	<div class="continue-btn">Continue Reading <i class="fa fa-arrow-right"></i></div>
            </a>
        </div>
    </div>
</div>