<div class="col-md-{{ collapseMedium ?: 4 }} col-sm-{{ collapseClass ?: 6 }} col-sm-{{ vidClass ?: 6 }}">
    <a href="{{ path('view_guide', { 'title': guide.url }) }}" class="video-container">
        <div class="content-item" style="background-image: url({{ imagePath(guide.image) }})">
            <div class="player-placeholder" data-video-id="{{ getIdFromEmbed(guide.video) }}"></div>
            {% for category in guide.categories %}
                {% if category.name|lower != excludeCategory|lower %}
                    {% include 'partials/category-banner.html' with { 'guide': guide, 'category': category } %}
                {% endif %}
            {% endfor %}
            <div class="play-container">
                <i class="fa fa-play-circle"></i>
            </div>
        </div>
   </a>
        <div class="content-container">
            <h4>{{ guide.getTitle() }}</h4>
        </div>
    
</div>