<div class="row content-block">
	{% include 'partials/divider.html' with { 'header': block.header } only %}

	{% if block.guides[0].video %}
		{% include 'partials/touts/video-item.html' with { 'guide': block.guides[0], 'collapseClass': '12', 'vidClass': 'video-small', 'collapseMedium': 4, 'maxCategories': 3 } %}
	{% else %}
		{% include 'partials/touts/single-item.html' with { 'guide': block.guides[0], 'collapseClass': '12', 'collapseMedium': 4, 'maxCategories': 3 } %}
	{% endif %}

	{% if block.guides[1].video %}
		{% include 'partials/touts/video-item.html' with { 'guide': block.guides[1], 'collapseClass': '12', 'vidClass': 'video-small', 'collapseMedium': 4, 'maxCategories': 3 } %}
	{% else %}
		{% include 'partials/touts/single-item.html' with { 'guide': block.guides[1], 'collapseClass': '12', 'collapseMedium': 4, 'maxCategories': 3 } %}
	{% endif %}

	{% if block.guides[2].video %}
		{% include 'partials/touts/video-item.html' with { 'guide': block.guides[2], 'collapseClass': '12', 'vidClass': 'video-small', 'collapseMedium': 4, 'maxCategories': 3 } %}
	{% else %}
		{% include 'partials/touts/single-item.html' with { 'guide': block.guides[2], 'collapseClass': '12', 'collapseMedium': 4, 'maxCategories': 3 } %}
	{% endif %}
</div>