{% set guide = guides[0] %}
<a href="{{ path('view_guide', { 'title': guide.url }) }}" data-instant class="content-block">
    <div class="jumbotron" style="background-image: url({{ imagePath(guide.banner) }})">
        {% for category in guide.categories %}
            {% if category.name|lower != excludeCategory|lower %}
                {% if loop.index <= 2 %}
                    {% include 'partials/category-banner.html' with { 'guide': guide, 'category': category } %}
                {% endif %}
            {% endif %}
        {% endfor %}
        <div class="content-container">
            <h4>{{ guide.title }}</h4>
            <p>{{ guide.summary }}</p>
        </div>
    </div>
</a>
